.mat-stepper-horizontal {
    margin-top: 8px;
}


.mat-form-field {
    margin-top: 16px;
    width: 100%;
}

section.registration-section{
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 75vh;
}

button{
    margin: 10px;
}

.block{
    display: block;
}

.repeat-form-content{
    border: 1px solid lightgrey;
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
}

