<form [formGroup]="toolForm">
    <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="">
            <section class="registration-section">
                <ng-template matStepLabel>Summary</ng-template>

                <mat-form-field>
                    <mat-label>Tool name</mat-label>
                    <input matInput placeholder="Tool name" formControlName="name">
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-label>Persistent biotoolsID</mat-label>
                    <input matInput placeholder="Unique, persistent ID" formControlName="biotoolsID">
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-label>Homepage</mat-label>
                    <input matInput placeholder="Tool homepage" formControlName="homepage">
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea rows="5" matInput placeholder="Tool description" formControlName="description"></textarea>
                </mat-form-field>
                <br>

                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>

            </section>

            

        </mat-step>
        <mat-step [stepControl]="" label="Publication">
            <section class="registration-section">

                <div formArrayName="publication">
                    <p>
                        Has your tool been published or are there any publications associated in any way with your tool?
                    </p>

                    <div *ngFor="let p of publication; let i = index">

                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label>Digital Object ID</mat-label>
                                <input matInput placeholder="e.g. 10.1093/nar/gkv/1116" formControlName="doi">
                            </mat-form-field>
                            <br>

                            <mat-form-field>
                                <mat-label>PubMed ID</mat-label>
                                <input matInput placeholder="26538599" formControlName="pmid">
                            </mat-form-field>
                            <br>

                            <mat-form-field>
                                <mat-label>PubMed Central ID</mat-label>
                                <input matInput placeholder="PMC4702812" formControlName="pmcid">
                            </mat-form-field>
                            
                               
                            
                            
                            <div formArrayName="type">
                                <mat-checkbox class="block" color="primary" *ngFor="let type of publicationTypes; let j = index">
                                    {{type}}
                                </mat-checkbox>
                                

                            </div>

                            <br>
                        </div>
                        <hr>
                    </div>

                </div>
                <button type="button" (click)="onAddPublication()">Add publication</button>

        
                    
                

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>



            </section>
        </mat-step>
        <mat-step [stepControl]="" label="EDAM Suggestions">
            <section class="registration-section">
                <p>
                    Scientific tool annotations powered by the <a href="http://edamontology.org/" target="_blank">EDAM Ontology</a>
                </p>

                <p>
                    Based on these suggestions the user will pick EDAM terms.
                    Topics will be added to the "topic" attribute,
                    operations, input and output will be collected and offered later in the "function" section.
                </p>
               
                <mat-form-field>
                    <mat-label>Keywords (add any other relevant tags that could not be added in other fields)</mat-label>
                    <textarea rows="10" matInput placeholder="Keywords, tags etc., one per line" (change)="onKeywordChange($event)"></textarea>
                </mat-form-field>
            
                


                <button type="button" (click)="getEDAMMapTerms()">Load suggestions</button>

                <mat-spinner *ngIf="isLoading()"></mat-spinner>

                <div *ngIf="edamMapError">
                    Error in retrieving EDAM terms: {{edamMapError}}
                </div>

                <div *ngIf="edamMapResults && edamMapResults.success">
                    <h2>Results</h2>
                    <h3>Topics</h3>
                    <div *ngFor="let t of edamMapResults.mapping.results.topic">
                        <div>
                            <strong>{{t.label}}</strong>
                            <br>
                            <a href="{{t.edamUri}}" target="_blank">{{t.edamUri}}</a>
                        </div>
                    </div>
                    <hr>
                    <h3>Operations</h3>
                    <div *ngFor="let o of edamMapResults.mapping.results.operation">
                        <div>
                            <strong>{{o.label}}</strong>
                            <br>
                            <a href="{{o.edamUri}}" target="_blank">{{o.edamUri}}</a>
                        </div>
                    </div>
                    <pre>
                        {{edamMapResults.mapping.results | json}}
                    </pre>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>


        </mat-step>

        <mat-step [stepControl]="" label="Labels">
            <section class="registration-section">

                <p>
                    Labels
                </p>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>
        </mat-step>

        <mat-step [stepControl]="" label="Links">
            <section class="registration-section">

                <p>
                    Links
                </p>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>
        </mat-step>


        <mat-step [stepControl]="" label="Download">
            <section class="registration-section">

                <p>
                    Download
                </p>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>
        </mat-step>

        <mat-step [stepControl]="" label="Documentation">
            <section class="registration-section">

                <p>
                    Documentation
                </p>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>
        </mat-step>

        <mat-step [stepControl]="" label="Credits & Support">
            <section class="registration-section">

                <p>
                    Credits & Support
                </p>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>
        </mat-step>

        <mat-step [stepControl]="" label="Function">
            <section class="registration-section">

                <p>
                    Function
                </p>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>
        </mat-step>

        <mat-step [stepControl]="" label="Relations">
            <section class="registration-section">

                <p>
                    Relations
                </p>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>
        </mat-step>

        <mat-step [stepControl]="" label="Community">
            <section class="registration-section">

                <p>
                    Community
                </p>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>
        </mat-step>

        <mat-step [stepControl]="" label="JSON">
            <section class="registration-section">

                <p>
                    JSON
                </p>

                <pre>
                    {{toolForm.value | json}}
                </pre>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>
        </mat-step>

        <mat-step [stepControl]="" label="Permissions">
            <section class="registration-section">

                <p>
                    Permissions
                </p>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext >Next</button>
                </div>
            </section>
        </mat-step>

        <mat-step [stepControl]="">
            <section class="registration-section">
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary">Validate</button>
                    <button mat-raised-button color="accent" (click)="save()">Save</button>
                </div>
            </section>
        </mat-step>
    </mat-vertical-stepper>
</form>